<%= stylesheet_link_tag    'welcomeindex', media: 'all', 'data-turbolinks-track' => true %>

<div class="container gallery-container">

    <div class="tz-gallery">

        <div class="row">
          <div class="col-md-6">
            <div class="col-md-12">
                <div class="thumbnail">
                    <div class="caption">
                      <h3>Why</h3>
                      <span>The motive of NIT Calicut behind this tech fest is to bring
                        the oppurtunities for the students to expose the real time technology
                        and advertise their own ideas and let them give plateform to showcase
                        their talents. So come and explore.</span>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="thumbnail">
                    <div class="caption">
                      <h3>How</h3>
                      <span>Register for the event you can
                        directly register from here.<br/>You can see all the events
                        category wise like with respective to the departments and categories like workshop,
                        seminar ,technical events and some non-formal events.<br/> So come, participate and enjoy.</span>
                    </div>
                </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="col-md-12">
                <iframe width="100%" height="315" src="https://www.youtube.com/embed/1Rh0pHalrkU"
                frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="col-md-12">
                <div class="thumbnail">
                    <div class="caption">
                      <h3>Where</h3>
                      <span>National Institute of Technology, Calicut<br/>673601, Kerala, India</span>
                    </div>
                </div>
            </div>
          </div>


        </div>

    </div>

</div>
