<%= stylesheet_link_tag    'welcomeindex', media: 'all', 'data-turbolinks-track' => true %>

<!DOCTYPE html>
<html>
<head>
 <div class="container gallery-container">
 </div>
</body>
</html>
<div class="row">

  
     <div class="tz-gallery">

        <div class="row">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
  body {
      position: relative; 
  }
  #section1 {padding-top:50px;height:500px;color: #fff; background-color: grey;}
  #section2 {padding-top:50px;height:500px;color: #fff; background-color: grey;}
  #section3 {padding-top:50px;height:500px;color: #fff; background-color:grey;}
  #section41 {padding-top:50px;height:500px;color: #fff; background-color:grey;}
  #section42 {padding-top:50px;height:500px;color: #fff; background-color: grey;}
  </style>
</head>
<body>
<div style="height:400px;width:1450px;text-align: center">
  <div data-spy="scroll" data-target=".navbar" data-offset="50">

<nav class="navbar navbar-inverse ">
  <div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">NITC-TechFest</a>
    </div>
    <div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href="#section1">Why</a></li>
          <li><a href="#section2">Where</a></li>
          <li><a href="#section3">How</a></li>
        </ul>
      
    </div>
  </div>
</nav>    

<div id="section1" class="container-fluid" style="
    text-align: center;
    height: 350px;

">
  <h1 style="
    margin-top: 20px;
    font-size: 20;
     text-align: center;
">Why</h1>
  <p style="
    width: 400px;
    height: 191px;
    margin-left: 433px;
    margin-top: 31px;
    background: black;
    padding: 50px 50px;
    border-radius: 10px;
    font-size: 17px;
">The motive of this tech fest is to bring the oppurtunities for the students to expose the real time technology and advertise their own ideas.</p>
</div>
<div id="section2" class="container-fluid" style="
    text-align: center;
    height: 300px;
">
  <h1 style="
    margin-top: -19px;
    font-size: 20;
">Where</h1>
  <p style="
    width: 400px;
    height: 191px;
    margin-left: 433px;
    margin-top: 2px;
    background: black;
    padding: 50px 50px;
    border-radius: 10px;
    font-size: 17px;
">NIT calicut is going to be the venue for the showcase of all the technical skills and the non technical Events for the students and the visitors.</p>
</div>
<div id="section3" class="container-fluid" style="
    text-align: center;
    height: 320px;
">
  <h1 style="
    margin-top: -19px;
    font-size: 20;
">How</h1>
  <p style="
    width: 400px;
    height: 250px;
    margin-left: 433px;
    margin-top: 2px;
    background: black;
    padding: 50px 50px;
    border-radius: 10px;
    font-size: 17px;
">Register for the event you can directly register from here.You can see all the events category wise like with respective to the department and type like workshop , seminar ,technical events and non technical events etc.</p>
</div>
</div>

</div>

      </div>

    </div>
  </div>

   
