<%= raw(@html) %>


<table >

<tr><th>Name</th><th>Action</th></tr>


<% @us.each do |x| %>
<tr><td>
	
<%= x.name %>
</td>
<td>
<%= link_to "Edit",action:"edituserdetails",id:x.id %>

<%= link_to "Delete",action:"deleteuser",id:x.id %>
</td>

<tr>

<% end %>
</table>