<div class="row text-center" style="padding: 4rem 2rem">

  <div class="col-lg-3 col-md-0"></div>

  <div class="col-lg-6 col-md-12">
        <span>Thanks for registering in <h4><%= @event %>.</h4> See you there at event.</span><br/>
        <span>Here is the list of events you registered in.</span>
        <span>Take care of it...</span><br/>
        <span>
          <% @user_all_event.each do |event| %>
          <h4><%= event.Event %></h4>
          <% end %>
        </span>

  </div>
  <div class="col-lg-3 col-md-0"></div>

</div>
