<%= stylesheet_link_tag    'welcomehead', media: 'all', 'data-turbolinks-track' => true %>

<div class="row">

  <div class="jumbotron welcome  col-lg-10 col-md-12 text-center">

      <span><%= link_to 'Tathva 17', about_us_data_path, :class => "hit-the-floor link-unstyle1" %></span>

      <div class="head1">October 13,14,15</div>
      <div class="head2">Get ready to show your skills</div>

  </div>

    <div class="jumbotron welcome1 col-lg-2 col-md-12">

      <div id="newsFlash" class="updates">NEWS</div>

        <div class="holder">
          <ul id="newsPosts" class="">
            <%#= it will go in loop manner %>
            <% News.all.each do |news| %>
                <li class="card">
                  <div class="card-body">
                    <%= news.created_at.strftime('%m/%d/%Y') %><br/>
                     <span style="word-wrap: break-all"><%= news.message %></span>
                  </div>
                </li>
            <% end %>
          </ul>
        </div>

      </div>

    </div>

</div>
