<%= stylesheet_link_tag    'welcomehead', media: 'all', 'data-turbolinks-track' => true %>

<div class="row">

  <div class="jumbotron welcome  col-lg-10 col-md-12">
    <div class="row">
      <div class="col-md-3 col-sm-12"></div>
      <div class="col-md-6 col-sm-12">
        <div class="row">
          <p class="hit-the-floor">Fest Management System</p>
        </div>
        <div class="row">
          <img class="nit-logo" src="<%= asset_path( '/nitclogo.png' ) %>">
        </div>
        <div class="row">
          <div class="head1">Come, Explore, Ideate, Innovate, Learn and Enjoy</div>
        </div>
        <div class="row">
          <div class="head2">Get ready to show your skills</div>
        </div>
      </div>
      <div class="col-md-3 col-sm-12"></div>
    </div>
  </div>

    <div class="jumbotron welcome1 col-lg-2 col-md-12">

      <div id="newsFlash" class="updates">NEWS</div>

        <div class="holder">
          <ul id="newsPosts" class="">
            <%#= it will go in loop manner %>
            <% News.all.each do |news| %>
                <li class="card">
                  <div class="card-body">
                    <%= news.created_at.strftime('%m/%d/%Y') %><br/>
                     <span style="word-wrap: break-all"><%= news.message %></span>
                  </div>
                </li>
            <% end %>
          </ul>
        </div>

      </div>

    </div>

</div>
