<div class="row">
  <div class="col-lg-2 col-md-0">
  </div>
  <div class="col-lg-8 col-md-0">
    <div class="text-center" >
      <h3>Edit Co-ordinator Details</h3>
    </div>
  </div>
  <div class="col-lg-2 col-md-0">
  </div>
</div>
<%= render 'form', eventcoordinator: @eventcoordinator %>
